body {
    margin: 0;
    font-family: monospace;
    background-color: #000;
    color: #F00;
    text-align: center;
}

div {
    width: 50%;
    margin: 20% auto;
    border: solid 1px #F00;
    padding: .9rem;
    transition: 600ms;
}

div:hover {
    background-color: #110000;
}

h1 {
    font-size: 1em;
}

a {
    color: #F00;
    text-decoration: none;
    border: solid 1px #F00;
    padding: 0.4rem;
    transition: 600ms;
}

a:hover {
    background-color: #F00;
    color: #000;
}